.App {
  text-align: center;
  background-color: #eeeeee;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.header-categories {
  display: flex;
  padding: 15px;
}

.category{
  flex: 1;
  font-size: 15px;
  color: #000000;
  padding-right: 50px;
  text-decoration: none;
}