$black-text: #222;

$success-button-color: #5aac44;
$success-button-color-hover: #3a8a24;

$transparent-black: rgba(0, 0, 0, 0.2);
$less-transparent-black: rgba(0, 0, 0, 0.5);
$transparent-white: rgba(255, 255, 255, 0.4);
$white: #fbfbfb;

$list-width: 300px;
$list-radius: 6px;