$button-lightgreen: lightgreen;
$color-white: white;
$color-green: green;
$color-crimson: crimson;
$color-black: #333;

$border-radius: 5px;
$shadow-box: 0 .5 gray;
$button-width: 100%;

$height: 100%;
$display-flex: flex;
$width: 30%;